<% if(alert.message != "") { %>
<div id="flashMessage" class="bg-<%= alert.status %>-100 border-t-4 border-<%= alert.status %>-500 rounded-b text-<%= alert.status %>-900 px-4 py-3 shadow-md" role="alert">
  <div class="flex">
    <div class="py-1">
      <svg class="fill-current h-6 w-6 text-<%= alert.status %>-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.931 15.1c-1.557-1.751-2.43-3.82-2.43-5.995C.501 5.92 5.42.5 10 .5s9.499 5.42 9.499 9.605c0 2.174-.873 4.244-2.43 5.995-1.59 1.789-3.686 2.802-5.932 2.88h-.274c-2.246-.077-4.342-1.09-5.932-2.88zm9.5-10.2c-.83 0-1.5.672-1.5 1.5s.67 1.5 1.5 1.5 1.5-.672 1.5-1.5-.67-1.5-1.5-1.5zM9.5 13c-.552 0-1-.447-1-1V7c0-.553.448-1 1-1s1 .447 1 1v5c0 .553-.448 1-1 1z"/></svg>
    </div>
    <div>
      <p class="font-bold"><%= alert.title %></p>
      <p class="text-sm"><%= alert.message %></p>
    </div>
  </div>
</div>
<% } %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const flashMessage = document.getElementById('flashMessage');
    if (flashMessage) {
      setTimeout(() => {
        flashMessage.style.display = 'none'; // Menyembunyikan pesan setelah beberapa waktu
      }, 3000); // Delay dalam milidetik (3000 ms = 3 detik)
    }
  });
</script>