<div
  class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-auto mb-4"
>
    <div class="flex flex-col items-end justify-end p-2">
        <button data-modal-target="addBlogModal" data-modal-toggle="addBlogModal"  id="updateProductButton" class=" hover:bg-gray-500 p-2 rounded-lg bg-gray-600 text-white text-sm">Add New Article</button>
    </div>
    <!-- Modal toggle -->
    <div class="relative overflow-x-auto p-2 ">
      <table
        class="table-fixed overflow-scroll w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 mb-2"
        id="dataTable"
      >
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-6 py-3" style="width: 20px;">No</th>
            <th scope="col" class="px-6 py-3">Title</th>
            <th scope="col" class="px-6 py-3" style="width: 250px;">Description</th>
            <th scope="col" class="px-6 py-3">Status</th>
            <th scope="col" class="px-6 py-3">Action</th>
          </tr>
        </thead>
        <tbody>
          <% if (data.length === 0) { %>
          <tr>
            <td colspan="6" class="px-6 py-4 text-center">Tidak ada data yang tersedia.</td>
          </tr>
          <% } else { %>
            <% data.forEach((datas, index) => { %>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <td class="px-6 py-4"><%= index + 1 %></td>
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 text-wrap dark:text-white"
            >
              <%= datas.title  %>
              <div class="font-extralight pt-2">
                <%= datas.slug  %>
              </div>
            </th>
            <td class="px-6 py-4"><%= datas.description %></td>
            <td class="px-6 py-4"><%= datas.published ? "published" : "not published"   %></td>
            <td class="w-full ">
              <div class="flex flex-row items-center">
                <form action="/admin/blog/<%= datas.id %>?_method=DELETE" method="POST">
                  <a href="#" id="editButton" data-modal-target="updateProductModal" data-modal-toggle="updateProductModal" type="button" class="editButton bg-blue-500 p-2 rounded-md text-white hover:bg-blue-400"
                    data-id="<%= datas.id %>"
                    data-name="<%= datas.name %>"
                    data-slug="<%= datas.slug %>"
                    data-description="<%= datas.description %>"
                    data-link="<%= datas.link %>"
                  ><i class="fa-solid fa-pen-to-square" style="font-size: 20px;"></i></a>
                  <a id="updateButton" data-id="<%= datas.id %>" class="button-update <%= datas.published ? "bg-green-500 hover:bg-green-400": "bg-yellow-500 hover:bg-yellow-400"%> p-2 rounded-md text-white "><i class="fa-solid fa-circle-check" style="font-size: 20px;"></i></a>
                  <button type="submit" class="bg-red-500 p-2 rounded-md text-white hover:bg-red-400"><i class="fa-solid fa-trash-can" style="font-size: 20px;"></i></button>
                </form>
              </div>
            </td>    
          </tr>
            <% }) %>
          <% } %>
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="inline-flex -space-x-px text-sm">
          <% if (page > 1) { %>
              <li>
                  <a href="/admin/blog/?page=<%= page - 1 %>" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
              </li>
          <% } %> 
          <% for (let i = 1; i <= total; i++) { %>
              <li>
                  <a href="/admin/blog/?page=<%= i %>" class="flex items-center justify-center px-3 h-8 leading-tight <%= page === i ? 'text-blue-600 font-bold' : 'text-gray-500' %> bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                      <%= i %>
                  </a>
              </li>
          <% } %>
          <% if (page < total) { %>
              <li>
                  <a href="/admin/blog/?page=<%= page + 1 %>" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
              </li>
          <% } %>
        </ul>
      </nav>
    </div>
  </div>
</div>
  <%- include('addModal.ejs'); %> 
  <%- include('updateModal.ejs'); %>
  <%- include('../../partials/js.ejs') %>

  <script>
    document.getElementById('dataTable').addEventListener('click', function(event) {
    if (event.target.classList.contains('editButton')) {
        // Dapatkan nilai data dari elemen yang diklik
        event.preventDefault();
        // let id = event.target.dataset.id;
        let name = event.target.dataset.name;
        let link = event.target.dataset.link;
        let description = event.target.dataset.description;

        // Tampilkan modal edit
        let editModal = document.getElementById('updateProductModal');

        // editModal.querySelector('.id').value = id;
        editModal.querySelector('.name').value = name;
        editModal.querySelector('.link').value = link;
        editModal.querySelector('.description').value = description;

        editModal.classList.remove('hidden');

    }
  });

  $('#dataTable').on('click', '.button-update', function(){
        let id= $(this).data('id');
        console.log("cek", id + name)

        $.ajax({
                url: `/admin/updateStatus/${id}?_method=PUT`,
                method: 'POST',
                success: function(response) {
                    location.reload(); 
                    console.log('Data berhasil diperbarui');
                },
                error: function(xhr, status, error) {
                    console.error('Gagal memperbarui data:', error);
                }
            });
      })
</script>